{% use 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block bootstrap_collection_widget %}
	{% spaceless %}
		{% if prototype is defined %}
			{% set prototype_vars = {} %}
			{% if style is defined %}
				{% set prototype_vars = prototype_vars|merge({'style': style}) %}
			{% endif %}
			{% set prototype_html = '' %}
			{% if form.vars.allow_delete %}
				{% set prototype_html = prototype_html ~ '<div class="col-xs-' ~ form.vars.button_col ~ '" style="width: auto;"><a href="#" class="btn btn-danger" data-removefield="collection" data-field="__id__">' ~ form.vars.delete_button_text|trans({}, translation_domain)|parse_icons|raw ~ '</a></div>' %}
			{% endif %}
			{% set prototype_html = prototype_html ~ '<div class="col-xs-' ~ form.vars.sub_widget_col ~ '">' ~ form_widget(prototype, prototype_vars) ~ '</div>' %}
			{% set prototype_html = '<div class="row">' ~ prototype_html ~ '</div>' %}

			{% set attr = attr|merge({'data-prototype': prototype_html }) %}
			{% set attr = attr|merge({'data-prototype-name': prototype_name }) %}
		{% endif %}
		<div {{ block('widget_container_attributes') }}>
			<ul class="bc-collection list-unstyled">
				{% for field in form %}
					<li>
						<div class="row">
							{% if form.vars.allow_delete %}
								<div class="col-xs-{{ form.vars.button_col }}" style="width: auto;">
									<a href="#" class="btn btn-danger" data-removefield="collection" data-field="{{ field.vars.id }}">{{ form.vars.delete_button_text|trans({}, translation_domain)|parse_icons|raw }}</a>
								</div>
							{% endif %}
							<div class="col-xs-{{ form.vars.sub_widget_col }}">
								{{ form_widget(field) }}
								{{ form_errors(field) }}
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			{% if form.vars.allow_add %}
				<a href="#" class="btn btn-primary" data-addfield="collection" data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">{{ form.vars.add_button_text|trans({}, translation_domain)|parse_icons|raw }}</a>
			{% endif %}
		</div>
	{% endspaceless %}
{% endblock bootstrap_collection_widget %}

{% block button_widget %}
	{% spaceless %}
		{% if label is empty and label is not same as (false) %}
			{% set label = name|humanize %}
		{% endif %}
		{% if type is defined and type == 'submit' %}
			{% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-'~button_class|default('primary'))|trim }) %}
		{% else %}
			{% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-'~button_class|default('default'))|trim }) %}
		{% endif %}
		{% if as_link is defined and as_link == true %}
			<a {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}{{ icon(attr.icon) }}{% endif %}<span>{{ label|trans({}, translation_domain) }}</span></a>
		{% else %}
			<button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}{{ icon(attr.icon) }}{% endif %}<span>{{ label|trans({}, translation_domain) }}</span></button>
		{% endif %}
	{% endspaceless %}
{% endblock button_widget %}

{# Custom DateRangeType #}
{% block date_range_widget %}
	<div class="input-group">
		<div class="input-group-addon">
			<i class="fa fa-calendar"></i>
		</div>

		{% if attr.class is defined %}
			{% set class = attr.class ~ ' daterangepicker' %}
		{% else %}
			{% set class = '' %}
		{% endif %}
		{% set attr = attr|merge({'class' : class, 'data-daterange': true}) %}

		{{ block('form_widget_simple') }}
	</div>
{% endblock %}
